#Java & MVN
producer/target/
consumer/target/
*.class
*.log
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.iml

#IDE
.vscode/
.settings/
.classpath
.project
.idea/
.idea_modules/
local.properties

#macOS
.DS_Store

cdk/*.js
cdk/!jest.config.js
cdk/*.d.ts
cdk/node_modules

# CDK asset staging directory
cdk/.cdk.staging
cdk/cdk.out
